<h2>Ejemplos de formularios reactivos</h2>


<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Creación de un formulario reactivo</h3>
	</div>
	<div class="panel-body">
		<table class="table table-striped">
			<tr>
				<th>Id</th>
				<th>Nombre</th>
				<th>Email</th>
				<th>Edad</th>
				<th>Estado</th>
				<th>&nbsp;</th>
			</tr>
			<tr *ngFor="let user of users">
				<td>{{user.id}}</td>
				<td>{{user.name}}</td>
				<td>{{user.email}}</td>
				<td>{{user.age}}</td>
				<td><span class="label label-success" *ngIf="user.isActive">ACTIVO</span>
					<span class="label label-success" *ngIf="!user.isActive">INACTIVO</span>
				</td>
				<td>
					<button class="btn btn-info glyphicon glyphicon-pencil"
						(click)="loadUser(user)"></button>
					<button class="btn btn-danger glyphicon glyphicon-trash"
						(click)="removeUser(user)"></button>
				</td>
			</tr>
		</table>
	</div>
</div>


<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Creación de un formulario reactivo</h3>
	</div>
	<div class="panel-body">



		<form [formGroup]="employeeForm">

			<div class="form-group">
				<label>Nombre</label> <input type="text" class="form-control"
					id="name" name="name" formControlName="name" />

				<!-- con ngModel se pone en el campo name, el atributo correspondiente que venga de la clase employee. ngModel hay que importarlo en app.module.ts -->
				<!-- ahora vamos a poner que nos avise de que el nombre tiene que tener al menos 4 caracteres -->

				<div class="alert alert-danger"
					[hidden]="employeeForm.controls['name'].valid || employeeForm.controls['name'].pristine">El
					nombre debe tener al menos 4 carácteres</div>
			</div>

			<div class="form-group">
				<label>Email</label> <input type="text" class="form-control"
					id="email" name="email" formcontrolName="email" />
				<div class="alert alert-danger"
					[hidden]="employeeForm.controls['email'].valid || employeeForm.controls['email'].pristine">El
					email no es correcto</div>
			</div>

			<div class="form-group">
				<label>Edad</label> <input type="text" class="form-control" id="age"
					name="age" formcontrolName="age" />
			</div>

			<div class="form-group">
				<label>Puesto</label> <select type="text" class="form-control"
					id="job" name="job" formcontrolName="job">
					<option *ngFor="let job of jobs" [value]="job">{{job}}</option>
				</select>
			</div>

			<div class="form-group">
				<label> <input type="checkbox" class="form-control"
					id="isActive" name="isActive" formcontrolName="isActive" />¿Activo?
				</label>
			</div>

			<!-- no hace falta boton de guardar porque en los formularios reactivos se va guardando la información mediante vas escribiendo -->


			<button type="button" class="btn btn-success"
				*ngIf="employee.id==null" [disabled]="!employeeForm.valid"
				(click)="createUser()">Crear usuario</button>



		</form>
	</div>
</div>